/**************** COLUMNS *****************/
 
/* Dashboard page */
.kanban-board { 
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
  }
  
  /* Column component */
  .kanban-column {
    flex: 1;
    margin: 5px;
  }
  
  .kanban-column h2 {
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
  }