/**************** COLUMNS *****************/

/* Dashboard page */
.kanban-board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align columns to the top */
  margin: 0px 100px;
}

/* Column component */
.kanban-column {
  flex: 1;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow: hidden; /* Prevent the column itself from overflowing */
}

.kanban-column.hovered {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 20px;
}

/* Column title styling */
.kanban-column h2 {
  position: sticky;
  top: 0;
  text-align: center;
  font-size: 1.8rem;
  z-index: -1;
}


/******** SCROLL ********/

.ticket-container {
  overflow-y: auto;
  padding-bottom: 20px; /* space below the last card */
}

.ticket-container::-webkit-scrollbar {
  width: 15px; /* scrollbar width */
}

.ticket-container::-webkit-scrollbar-track {
  background: var(--tertiary-color);
  border-radius: 10px;
}

.ticket-container::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: 10px;
  border: 3px solid var(--tertiary-color);
}

.ticket-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);/
}