/**************** COLUMNS *****************/

/* Dashboard page */
.kanban-board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 100px;
}

/* Column component */
.kanban-column {
  flex: 1;
}

.kanban-column h2 {
  text-align: center;
  font-size: 1.8rem;
}
