/**************** CARD *****************/

.card {
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: var(--bar-color);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.label.High,
.label.Medium,
.label.Low {
  padding: 2px 15px;
  width: fit-content;
  font-weight: 500;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 0.9rem;
}

.label.High {
  background-color: var(--accent-color);
}

.label.Medium {
  background-color: rgb(236, 233, 250);
}

.label.Low {
  background-color: rgba(226, 241, 254, 0.823);
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-buttons button {
  margin: 0px 2px 10px;
}

.card .delete-button {
  border-radius: 10px;
  padding: 0.8em 1.5em;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1em;
}

.card .delete-button:hover {
  color: var(--text-color);
}
