#app,
#about,
#not-found {
  margin: 80px 0px 100px 200px;
}

.intro,
.error {
  font-size: 1rem;
  padding: 20px 500px 20px 0px;
}

.intro p,
.grey {
  font-size: 1.1rem;
  color: var(--text-color);
  padding-bottom: 30px;
}