/************************************************/
/* Component/Page-Specific Styles */

#app,
#about,
#not-found {
  margin: 30px 0px 40px 200px;
}

.intro,
.error {
  font-size: 1.4rem;
  padding: 20px 500px 20px 0px;
}

.intro p,
.grey {
  font-size: 1.3rem;
  color: var(--text-color);
}