
/****************** TICKET DETAILS ******************/

.ticket-details {
    margin: 100px 200px;
  }
  
  .detailed-card {
    margin-bottom: 30px;
    padding: 30px 50px;
    background-color: #131313;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .detailed-card h3 {
    font-size: 2rem;
  }
  
  .detailed-card p {
    font-size: 1.4rem;
  }
  
  .detailed-card .date {
    color: grey;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: #191919;
    width: fit-content;
    padding: 2px 20px; 
    border-radius: 40px;
  }
  
  .detailed-card .description {
    color: grey;
  }
  
  .assigned {
    color: grey;
    font-weight: 400;
  }
  