/****************** NAV BAR ******************/

#navbar {
  position: fixed;
  top: 15px;
  right: 15px;
  left: 230px;
  padding: 5px 15px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--bar-color);
  border-radius: 15px;
}
