/****************** SIDE BAR ******************/

#sidebar {
  position: fixed;
  top: 15px;
  left: 15px;
  bottom: 15px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bar-color);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sidebar-logo {
  height: 30px;
  padding: 20px;
  margin: 20px;
}

.sidebar-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar-section ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-section li {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

.sidebar-section li:hover {
  background: var(--tertiary-color);
}

.sidebar-section li a {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.sidebar-section li a i {
  margin: 0 15px 0 30px;
  color: var(--text-color);
}

.sidebar-section li a:hover i {
  color: var(--text-color);
}

@media (max-width: 1300px) {
  #sidebar {
    display: none;
  }}