/****************** FOOTER ******************/
#footer {
  position: fixed;
  bottom: 15px;
  right: 15px;
  left: 230px;
  padding: 5px 15px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text-color);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#footer a {
  color: var(--tertiary-color);
  text-align: center;
}

@media (max-width: 1300px) {
  #footer {
    padding: 5px 15px;
    left: 20px;
    right: 20px;
  }}

  /* @media (max-width: 768px) {
    #footer {
      display: none;
    }} */