/************************************************/

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
}

#homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px 0px 40px 200px; /* navbar footer sidebar */
  height: calc(100vh - 60px);
}

#sidebar {
  position: fixed; /* stick to the left */
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh; /* viewport minus the navbar height */
  background-color: #191919;
  z-index: 1000; /* foreground */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#sidebar-logo {
  height: 30px;
  padding: 20px;
}

.sidebar-section ul {
  padding: 0;
  margin: 0;
}

.sidebar-section li {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 4rem;
  text-align: right; /* Text aligned to the right */
  width: 100%;
}

#navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 30px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0; /* fix at the top */
  left: 200px;
  right: 0;
  background-color: #131313;
  z-index: 999; /* just below sidebar */
}

#footer {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0; /* fix at the bottom */
  left: 0;
  right: 0;
  background-color: #131313;
  z-index: 999; /* just below sidebar */
}

#footer a {
  color: grey;
}

/**********  CARDS  ********/
.card {
  margin: 20px; 
  padding: 20px; 
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px; 
  font-weight: 800;
}

.kanban-board {
  display: flex;
  justify-content: space-between;
}

.kanban-column {
  flex: 1;
  margin: 0 10px;
}

.kanban-column h2 {
  text-align: center;
}