/* Global Styles */

/* Base theme variables */
:root {
  --primary-color: #9b9ff3;
  --secondary-color: #1f2269;
  --tertiary-color: #c4d3f3;
  --accent-color: #ffd7c6;
  --text-color: #0f1033;
  --bg-color: linear-gradient(
    135deg,
    #c4d3f3,
    #e2e8f7
  ); /* Direct gradient application */
  --bar-color: #f3f9ff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Toastify styles */
  --toastify-color-light: var(--bar-color);
  --toastify-color-success: var(--tertiary-color);
  --toastify-icon-color-success: var(--primary-color);
  --toastify-toast-width: 350px;
  --toastify-toast-background: var(--bar-color);
  --toastify-toast-min-height: 60px;
  --toastify-font-family: "Inter", sans-serif;
  --toastify-text-color-light: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text styles */
a {
  font-weight: 500;
  color: var(---color);
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.4em;
  line-height: 1.1;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--text-color);
  margin: 20px;
}

/* Button styles */
button,
.secondary-button,
.outline-button {
  border-radius: 10px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
}

button {
  background-color: var(--text-color);
  font-weight: 400;
  color: var(--bar-color);
}

button:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

.secondary-button {
  background-color: var(--text-color);
  color: var(--tertiary-color);
}

.secondary-button a {
  color: var(--tertiary-color);
  border: 1px solid var(--text-color);
}

.secondary-button a:hover {
  color: var(--tertiary-color);
  font-size: inherit;
  font-weight: inherit;
}

.secondary-button:hover {
  background-color: var(--text-color);
}

.outline-button {
  border: 1px solid var(--tertiary-color);
  color: var(--text-color);
  background-color: transparent;
  font-weight: 400;
}

.outline-button a {
  color: var(--text-color);
  font-size: inherit;
  font-weight: inherit;
}

.outline-button:hover {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}