/************************************************/
/* Global Styles */

/* Base theme variables */
:root {
  --primary-color: #9b9ff3;
  --secondary-color: #46444478;
  --accent-color: #f0db4e;
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text styles */
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.4em;
  line-height: 1.1;
}

hr {
  border: none;
  height: 2px;                
  background-color: var(--secondary-color); 
  margin: 20px;
}

/* Button styles */
button, .secondary-button {
  border-radius: 10px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid transparent;
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

button:hover {
  background-color: var(--primary-color);
  color: #1c1c1c;
}

.secondary-button {
  background-color: var(--accent-color);
  color: black;
  font-weight: 800;
}

.secondary-button a {
  color: black;
  font-size: inherit;
  font-weight: inherit;
}

.secondary-button:hover {
  background-color: var(--primary-color);
}

/************************************************/
/* Component/Page-Specific Styles */

#app, #about, #not-found {
  margin: 80px 0px 40px 200px;
  height: calc(100vh - 60px);
}

.intro, .error {
  font-size: 1.4rem;
  padding: 20px 500px 20px 0px;
}

.intro p, .grey {
  font-size: 1.3rem;
  color: grey;
}

/****************** SIDE BAR ******************/

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
  z-index: 1000;
}

#sidebar-logo {
  height: 30px;
  padding: 20px;
}

.sidebar-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sidebar-section ul {
  padding: 0;
  margin: 0;
}

.sidebar-section li {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 4rem;
  text-align: right;
}

/****************** NAV BAR ******************/

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 200px;
  margin: 0;
  padding: 5px 30px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #131313;
  z-index: 999;
}

/****************** FOOTER ******************/
#footer {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #131313;
  z-index: 999;
}

#footer a {
  color: grey;
}

/**************** COLUMNS *****************/
 
/* Dashboard page */
.kanban-board { 
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

/* Column component */
.kanban-column {
  flex: 1;
  margin: 5px;
}

.kanban-column h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.8rem;
}

/****************** CARDS *****************/
.card {
  margin: 20px;
  padding: 20px;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-weight: 400;
  padding-right: 15px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label.High, .label.Medium, .label.Low {
  padding: 1px 15px;
  width: fit-content;
  font-weight: 500;
  border-radius: 20px;
}

.label.High {
  background-color: #575b99;
  color: #1c1e4a;
}

.label.Medium {
  background-color: rgb(98, 68, 128);
  color: rgb(55, 28, 19);
}

.label.Low {
  background-color: rgba(43, 103, 188, 0.823);
  color: black;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-buttons button {
  margin: 10px 2px;
}

.card .delete-button {
  border-radius: 10px;
  padding: 0.8em 1.5em;
  background-color: transparent;
  cursor: pointer;
  color: grey;
  font-size: 1em;
}

.card .delete-button:hover {
  background-color: #191919;
  color: white;
  border: 1px solid white;
}

/****************** TICKET DETAILS ******************/

.ticket-details {
  margin: 100px 200px;
}

.detailed-card {
  margin-bottom: 30px;
  padding: 30px 50px;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailed-card h3 {
  font-size: 2rem;
}

.detailed-card p {
  font-size: 1.4rem;
}

.detailed-card .date {
  color: grey;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: #191919;
  width: fit-content;
  padding: 2px 20px; 
  border-radius: 40px;
}

.detailed-card .description {
  color: grey;
}

.assigned {
  color: grey;
  font-weight: 400;
}

/******** CREATE TICKET FORM **********/

.form {
  margin: 20px 100px 20px;
  padding: 50px;
  background-color: #131313;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form overlay to darken the background */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(75, 75, 75, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Close button styling */
.close-button {
  position: absolute;
  top: 110px;
  right: 500px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.form h2 {
  text-align: center; 
}

.form .inputs {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  margin: 0 20px;
}

.form .inputs label {
  margin: 10px; 
  font-size: 1.2rem;
  font-weight: 500;
}

.form input, .form select {
  font-size: 1.2rem;
  border-radius: 2rem;
  margin: 0.5rem; 
  padding: 0.5rem 2rem;
  border: 1px solid #ffffff;
}
