/* Global Styles */

/* Base theme variables */
:root {
  --primary-color: #9b9ff3;
  --secondary-color: #46444478;
  --accent-color: #f0db4e;
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Text styles */
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.4em;
  line-height: 1.1;
}

hr {
  border: none;
  height: 2px;                
  background-color: var(--secondary-color); 
  margin: 20px;
}

/* Button styles */
button, .secondary-button {
  border-radius: 10px;
  padding: 0.8em 1.5em;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid transparent;
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

button:hover {
  background-color: var(--primary-color);
  color: #1c1c1c;
}

.secondary-button {
  background-color: var(--accent-color);
  color: black;
  font-weight: 800;
}

.secondary-button a {
  color: black;
  font-size: inherit;
  font-weight: inherit;
}

.secondary-button:hover {
  background-color: var(--primary-color);
}